*~
*.bin
ps4.h
ps4.p
ps4.lst
ps4built.bin
ps4built.prev.bin

# Linux builder creates this
p2bin

script/*.bin.*
script/*.bin
vm-build-all.sh
auto-build.sh
stop-auto-build.sh
drive-sync.sh
.DS_Store

.vscode
__pycache__

out/
scenes/
etc/

.build_log
script/scenes/
script/maps/
ps4.grandcross.asm
ps4disasm.*
script/constants.asm
script/cutsceneptrs.asm
script/dialog_trees.asm
script/event_routines.asm
script/eventptrs.asm
script/start.asm
